<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;"><%= campground.name %></h1>
        <img src="<%= campground.image %>">
        <p><%= campground.description %></p>
    </div>
</div>

<% include partials/footer %>